<!-- <% if (post.prev || post.next) { %>
<nav id="article-nav">
    <% if (post.prev) { %>
        <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption"><%= __('sidebar.newer') %></strong>
        <p class="article-nav-title">
        <% if (post.prev.title) { %>
            <%= post.prev.title %>
        <% } else { %>
            (no title)
        <% } %>
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    <% } %>
    <% if (post.next) { %>
        <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption"><%= __('sidebar.older') %></strong>
        <p class="article-nav-title"><%= post.next.title %></p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    <% } %>
</nav>
<% } %> -->
